<div class="container">
<div class="jumbotron">
    <h2>Esame di Fisica per il CdL in Biotecnologie</h2>
    <div class="well">
<!--     <p>
      L’esame è diviso in tre esami parziali.
    </p>
    <p>
      Gli studenti che non hanno ottenuto il punteggio minimo di 14/30 per ognuna delle tre prove parziali, oppure non hanno sostenuto una o più prove parziali, dovranno sostenere l’esame scritto lunedì 23 febbraio 2015, alle ore 16:00.
      L’esame scritto sarà diviso in tre parti, gli studenti dovranno svolgere solo la parte in cui hanno ricevuto un punteggio inferiore a 14/30.
    </p>
 -->    <p>
      Gli studenti che hanno ottenuto un punteggio uguale o superiore a 14/30  in tutti e tre gli esami parziali, potranno convalidare il voto finale preparando una tesina dal titolo “Dall'ottica fisica all'ottica geometrica”.
      Al voto finale (costituito dalla media dei tre voti parziali) si dovrà sommare il risultato della tesina, ovvero un punteggio che va da -4 a +4 a seconda del lavoro svolto.
    </p>
    </div>
    <div class="well">
    <h3>Dall'ottica fisica all'ottica geometrica</h3>
    <p>
      Lo studente discuta il percorso storico che ha portato dall'ottica geometrica all'ottica fisica, facendo riferimento ai seguenti punti:
      <ul>
        <li>Legge di Snell (con relativo grafico);</li>
        <li>Differenza di cammino ottico;</li>
        <li>Esperienza delle due fenditure (con relativo disegno);</li>
        <li>Interferenza prodotta da un reticolo (con relativo disegno);</li>
        <li>Esempi di diffrazione.</li>
      </ul>
      </p>
      <p>
      Le immagini allegate alla tesine dovranno essere prodotte a mano o tramite un software di grafica.
La tesina dovrà avere una sezione dedicata alle fonti bibliografiche, in cui per ogni testo utilizzato si indicherà:  autore, titolo, rivista, numero, data o indirizzo del sito web.
La tesina dovrà essere consegnata via email al seguente indirizzo antonio.pierro _at_  gmail.com entro il giorno precedente la data d’appello in cui si vuole verbalizzare il voto.
    </p>

    </div>

<!--     <div class="well">
      <h3>Indicazioni sull'esame di Fisica del 23 febbraio 2015</h3>
      <p>
        L’esame scritto sarà diviso in tre parti, gli studenti dovranno svolgere solo la parte in cui hanno ricevuto un punteggio inferiore a 14/30 oppure, nel caso in cui non si abbia mai sostenuto un esame parziale, completare tutte e tre le parti..
      </p>
    </div>
 -->    <div class="well">
    <h3>Indicazioni sull'esame di marzo e date succesive</h3>
      <p>
        L'esame prevede una parte scritta e una parte orale, che si svolgeranno nella stessa giornata e verteranno su tutto il programma di Fisica, inclusa l'ottica geometrica e fisica.
      </p>
    </div>
    <div class="well">
      <table class="table table-hover table-score">
        <h3>Risultati finali dell'esame di Fisica con Esercitazioni</h3>
        <tr>
          <th>Nome</th><th>Cognome</th><th>Matricola</th><th>Voto finale</th>
        </tr>
        <tr>
          <td>Pinangela</td><td>Falqui</td><td>45818</td><th>18</th>
        </tr> 
        <tr>
          <td>Valentina</td><td>Pau</td><td>45959</td><th>19</th>
        </tr>
        <tr>
          <td>Eleonora</td><td>Bassu</td><td>49252</td><th>24</th>
        </tr>
<!--         <tr>
          <td>Eleonora</td><td>Bassu</td><td>49252</td><td>25</td><td>23</td><td>27</td><td>-1</td><th>24</th>
        </tr> -->
        <!-- <tr>
          <td>Valentina</td><td>Pau</td><td>45959</td><td>22</td><td>14</td><td>19</td><td>n.d.</td><td>n.d.</td>
        </tr> -->
      </table>
    </div>
    <div class="well">
      <table class="table table-hover table-score">
        <h3>Risultati finali dell'esame di Fisica</h3>
        <tr>
          <th>Nome</th><th>Cognome</th><th>Matricola</th><th>1° prova</th><th>2° prova</th><th>3° prova</th><th>4° prova</th><th>totale</th>
        </tr>
        <tr>
          <td>Antonella</td><td>Migheli</td><td>65003</td><td>27</td><td>30</td><td>28</td><td>-2</td><th>26</th>
        </tr>
        <tr>
          <td>Sisinnio</td><td>Curridori</td><td>65009</td><td>30L</td><td>28</td><td>27</td><td>-1</td><th>27</th>
        </tr>
        <tr>
          <td>Alessandra</td><td>Deidda</td><td>49451</td><td>15</td><td>17</td><td>27</td><td>0</td><th>20</th>
        </tr>
        <tr>
          <td>Giuseppe</td><td>Loddi</td><td>65002</td><td>26</td><td>29</td><td>29</td><td>0</td><th>28</th>
        </tr>
        <tr>
          <td>Delia</td><td>Maccioni</td><td>65001</td><td>26</td><td>20</td><td>24</td><td>0</td><th>23</th>
        </tr>
        <tr>
          <td>Sebastiana</td><td>Lai</td><td>65025</td><td>24</td><td>24</td><td>27</td><td>+1</td><th>26</th>
        </tr>
        <tr>
          <td>Nicola</td><td>Pinna</td><td>65044</td><td>25</td><td>28</td><td>16</td><td>0</td><th>23</th>
        </tr>
        <tr>
          <td>Federico</td><td>Concas</td><td>65031</td><td>24</td><td>30</td><td>29</td><td>+2</td><th>30</th>
        </tr>
        <tr>
          <td>Michela</td><td>Altea</td><td>65012</td><td>29</td><td>30L</td><td>29</td><td>+2</td><th>30L</th>
        </tr>
        <tr>
          <td>Andrea</td><td>Cruciani</td><td>65026</td><td>25</td><td>20</td><td>15</td><td>+1</td><th>28</th>
        </tr>
        <tr>
          <td>Christian</td><td>Sulcis</td><td>65027</td><td>24</td><td>29</td><td>28</td><td>0</td><th>27</th>
        </tr>
        <tr>
          <td>Fabiola</td><td>Zuddas</td><td>65014</td><td>23</td><td>25</td><td>29</td><td>-1</td><th>25</th>
        </tr>
        <tr>
          <td>Andrea</td><td>Dessì</td><td>65013</td><td>27</td><td>30L</td><td>30</td><td>+1</td><th>30</th>
        </tr>
        <tr>
          <td>Antonella</td><td>Frongia</td><td>49474</td><td>21</td><td>25</td><td>18</td><td>-2</td><th>19</th>
        </tr>
        <tr>
          <td>Luana</td><td>Firinu</td><td>46463</td><td>20</td><td>24</td><td>30</td><td>-2</td><th>23</th>
        </tr>
        <tr>
          <td>Marta</td><td>Moi</td><td>65005</td><td>30</td><td>30L</td><td>30L</td><td>+1</td><th>30L</th>
        </tr>
        <tr>
          <td>Gloria</td><td>Contis</td><td>65020</td><td>20</td><td>15</td><td>18</td><td>+1</td><th>18</th>
        </tr>
        <tr class="danger">
          <td>Luana Iris</td><td>Cominu</td><td>65046</td><td>21</td><td>16</td><td>12</td><td>n.d.</td><td>n.d.</td>
        </tr>
        <tr class="danger">
          <td>Maria-Luisa</td><td>Castangia</td><td>65028</td><td>17</td><td>6</td><td>6</td><td>n.d.</td><td>n.d.</td>
        </tr>
        <tr>
          <td>Claudio-Campofelice</td><td>Chessa</td><td>65030</td><td>26</td><td>24</td><td>28</td><td>0</td><th>27</th>
        </tr>
        <tr>
          <td>Solinas</td><td>Martina</td><td>65048</td><td>18</td><td>20</td><td>21</td><td>-2</td><th>18</th>
        </tr>
        <tr>
          <td>Erika</td><td>Boi</td><td>65021</td><td>19</td><td>19</td><td>21</td><td>0</td><td><b>20</b></td>
        </tr>
        <tr>
          <td>Valentino</td><td>Boi</td><td>65024</td><td>15</td><td>21</td><td>24</td>20<td>+3</td><th>23</th>
        </tr>
        <tr><td>Silvia</td><td>Deriu</td><td>49513</td><td>22</td><td>17</td><td>20</td><td>-1</td><th>19</th></tr>
        <tr><td>Alessandro-Luigi</td><td>Amadori</td><td>65032</td><td>19</td><td>21</td><td>22</td><td>+3</td><td><b>24</b></td></tr>
        <tr><td>Martina</td><td>Spanu</td><td>65011</td><td>28</td><td>29</td><td>29</td><td>+2</td><td><b>30</b></td></tr>
        <tr><td>Fiamma</td><td>Serra</td><td>65008</td><td>27</td><td>27</td><td>28</td><td>+3</td><td><b>30</b></td></tr>
        <tr><td>Valentina</td><td>Miscali</td><td>65033</td><td>26</td><td>27</td><td>26</td><td>+1</td><th>27</td></tr>
        <tr><td>Chiara</th><td>Incani</td><td>65018</td><td>29</td><td>30L</td><td>29</td><td>+3</td><th>30L</th></tr>
        <tr><td>Valentina</td><td>Incani</td><td>65019</td><td>20</td><td>20</td><td>27</td><td>+2</td><th>24</th></tr>
        <tr><td>Giacomo</td><td>Sinis</td><td>65017</td><td>23</td><td>22</td><td>27</td><td>0</td><th>24</th></tr>
        <tr><td>Edoardo</td><td>Ibba</td><td>65036</td><td>30</td><td>28</td><td>28</td><td>+2</td><th>30</th></tr>
        <tr><td>Massimo</td><td>Loi</td><td>65039</td><td>26</td><td>29</td><td>25</td><td>+0</td><th>27</th></tr>
        <tr><td>Oleg</td><td>Mulliri</td><td>65047</td><td>19</td><td>25</td><td>27</td><td>-1</td><th>23</th></tr>
        <tr><td>Marco</td><td>Scameroni</td><td>65034</td><td>30</td><td>30</td><td>29</td><td>+3</td><th>30L</th></tr>
        <tr><td>Federico</td><td>Cannas</td><td>65016</td><td>27</td><td>27</td><td>29</td><td>+1</td><th>29</th></tr>
        <tr>
          <td>Daniela</td><td>Lixi</td><td>65010</td><td>18</td><td>14</td><td>14</td><td>+2</td><th>18</th>
        </tr>
        <tr>
          <td>Laura</td><td>Tiana</td><td>65007</td><td>22</td><td>25</td><td>30L</td><td>-3</td><th>24</th>
        </tr>
        <tr>
          <td>Sofia</td><td>Trudu</td><td>65004</td><td>27</td><td>30</td><td>29</td><td>+2</td><th>30</th>
        </tr>
        <tr>
          <td>Rossella</td><td>Flore</td><td>65038</td><td>21</td><td>25</td><td>27</td><td>-3</td><th>21</th>
        </tr>
        <tr>
          <td>Chiara</td><td>Scalas</td><td>65035</td><td>19</td><td>23</td><td>21</td><td>+2</td><th>23</th>
        </tr>
      </table>
    </div>
</div>
</div>
