<table class="table table-hover table-score">
    <tr><th>Nome</th><th>Cognome</th><th>matricola</th><th>1T</th><th>2T</th><th>3T</th><th>1E</th><th>2E</th><th>totale</th><th>trentesimi</th></tr>
    <tr><td>Michela</td><td>Altea</td><td>65012</td><td>10</td><td>10</td><td>10</td><td>5</td><td>4</td><td>39</td><td>29</td></tr>
    <tr><td>Alessandro-Luigi</td><td>Amadori</td><td>65032</td><td>8</td><td>5</td><td>0</td><td>3</td><td>3</td><td>19</td><td>19</td></tr>
    <tr><td>Eleonora</td><td>Bassu</td><td>49252</td><td>7</td><td>9</td><td>7</td><td>4</td><td>0</td><td>27</td><td>25</td></tr>
    <tr><td>Erika</td><td>Boi</td><td>65021</td><td>9</td><td>5</td><td>0</td><td>5</td><td>0</td><td>19</td><td>19</td></tr>
    <tr><td>Valentino</td><td>Boi</td><td>65024</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>
    <tr><td>Claudio-Campofelice</td><td>Chessa</td><td>65030</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>
    <tr><td>Federico</td><td>Cannas</td><td>65016</td><td>6</td><td>6</td><td>7</td><td>7</td><td>7</td><td>33</td><td>27</td></tr>
    <tr><td>Maria-Luisa</td><td>Castangia</td><td>65028</td><td>6</td><td>8</td><td>0</td><td>3</td><td>0</td><td>17</td><td>17</td></tr>
    <tr><td>Luana-Iris</td><td>Cominu</td><td>65046</td><td>6</td><td>10</td><td>0</td><td>5</td><td>0</td><td>21</td><td>21</td></tr>
    <tr><td>Federico</td><td>Concas</td><td>65031</td><td>6</td><td>8</td><td>0</td><td>9</td><td>1</td><td>24</td><td>24</td></tr>
    <tr><td>Gloria</td><td>Contis</td><td>65020</td><td>5</td><td>5</td><td>3</td><td>0</td><td>0</td><td>13</td><td>13</td></tr>
    <tr><td>Elia</td><td>Corrias</td><td>65043</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>
    <tr><td>Andrea</td><td>Cruciani</td><td>65026</td><td>7</td><td>6</td><td>8</td><td>6</td><td>0</td><td>27</td><td>25</td></tr>
    <tr><td>Sisinnio</td><td>Curridori</td><td>65009</td><td>10</td><td>10</td><td>10</td><td>8</td><td>6</td><td>44</td><td>30L</td></tr>
    <tr><td>Alessandra</td><td>Deidda</td><td>49451</td><td>3</td><td>0</td><td>0</td><td>0</td><td>0</td><td>3</td><td>3</td></tr>
    <tr><td>Silvia</td><td>Deriu</td><td>49513</td><td>7</td><td>7</td><td>0</td><td>6</td><td>2</td><td>22</td><td>22</td></tr>
    <tr><td>Andrea</td><td>Dessì</td><td>65013</td><td>7</td><td>10</td><td>10</td><td>5</td><td>2</td><td>34</td><td>27</td></tr>
    <tr><td>Luana</td><td>Firinu</td><td>46463</td><td>6</td><td>7</td><td>0</td><td>5</td><td>2</td><td>20</td><td>20</td></tr>
    <tr><td>Rossella</td><td>Flore</td><td>65038</td><td>8</td><td>9</td><td>0</td><td>2</td><td>2</td><td>21</td><td>21</td></tr>
    <tr><td>Daniela</td><td>Fois</td><td>65042</td><td>1</td><td>5</td><td>0</td><td>5</td><td>0</td><td>11</td><td>11</td></tr>
    <tr><td>Antonella</td><td>Frongia</td><td>49474</td><td>6</td><td>8</td><td>0</td><td>5</td><td>2</td><td>21</td><td>21</td></tr>
    <tr><td>Edoardo</td><td>Ibba</td><td>65036</td><td>10</td><td>10</td><td>10</td><td>7</td><td>3</td><td>40</td><td>30</td></tr>
    <tr><td>Alessia</td><td>Illotta</td><td>65006</td><td>8</td><td>10</td><td>0</td><td>7</td><td>3</td><td>28</td><td>25</td></tr>
    <tr><td>Chiara</td><td>Incani</td><td>65018</td><td>8</td><td>8</td><td>9</td><td>8</td><td>6</td><td>39</td><td>29</td></tr>
    <tr><td>Valentina</td><td>Incani</td><td>65019</td><td>8</td><td>5</td><td>0</td><td>3</td><td>4</td><td>20</td><td>20</td></tr>
    <tr><td>Sebastiana</td><td>Lai</td><td>65025</td><td>10</td><td>0</td><td>9</td><td>3</td><td>2</td><td>24</td><td>24</td></tr>
    <tr><td>Simone</td><td>Lai</td><td>65029</td><td>4</td><td>4</td><td>0</td><td>4</td><td>4</td><td>16</td><td>16</td></tr>
    <tr><td>Daniela</td><td>Lixi</td><td>65010</td><td>2</td><td>4</td><td>0</td><td>6</td><td>0</td><td>12</td><td>12</td></tr>
    <tr><td>Giuseppe</td><td>Loddi</td><td>65002</td><td>9</td><td>9</td><td>3</td><td>6</td><td>3</td><td>30</td><td>26</td></tr>
    <tr><td>Massimo</td><td>Loi</td><td>65039</td><td>9</td><td>9</td><td>0</td><td>8</td><td>5</td><td>31</td><td>26</td></tr>
    <tr><td>Delia</td><td>Maccioni</td><td>65001</td><td>7</td><td>8</td><td>6</td><td>7</td><td>2</td><td>30</td><td>26</td></tr>
    <tr><td>Antonella</td><td>Migheli</td><td>65003</td><td>9</td><td>10</td><td>6</td><td>5</td><td>4</td><td>34</td><td>27</td></tr>
    <tr><td>Valentina</td><td>Miscali</td><td>65033</td><td>9</td><td>5</td><td>10</td><td>8</td><td>0</td><td>32</td><td>26</td></tr>
    <tr><td>Marta</td><td>Moi</td><td>65005</td><td>9</td><td>10</td><td>9</td><td>7</td><td>6</td><td>41</td><td>30</td></tr>
    <tr><td>Oleg</td><td>Mulliri</td><td>65047</td><td>8</td><td>8</td><td>0</td><td>3</td><td>0</td><td>19</td><td>19</td></tr>
    <tr><td>Riccardo</td><td>Orrù</td><td>65037</td><td>9</td><td>9</td><td>0</td><td>4</td><td>1</td><td>23</td><td>23</td></tr>
    <tr><td>Valentina</td><td>Pau</td><td>45959</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>
    <tr><td>Giorgio</td><td>Perra</td><td>65041</td><td>6</td><td>0</td><td>0</td><td>0</td><td>2</td><td>8</td><td>8</td></tr>
    <tr><td>Nicola</td><td>Pinna</td><td>65044</td><td>9</td><td>5</td><td>2</td><td>8</td><td>2</td><td>26</td><td>25</td></tr>
    <tr><td>Stefania</td><td>Piscedda</td><td>45820</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>
    <tr><td>Chiara</td><td>Scalas</td><td>65035</td><td>6</td><td>3</td><td>0</td><td>8</td><td>2</td><td>19</td><td>19</td></tr>
    <tr><td>Marco</td><td>Scameroni</td><td>65034</td><td>10</td><td>10</td><td>10</td><td>8</td><td>3</td><td>41</td><td>30</td></tr>
    <tr><td>Fiamma</td><td>Serra</td><td>65008</td><td>7</td><td>7</td><td>7</td><td>8</td><td>6</td><td>35</td><td>27</td></tr>
    <tr><td>Giacomo</td><td>Sinis</td><td>65017</td><td>8</td><td>2</td><td>6</td><td>6</td><td>1</td><td>23</td><td>23</td></tr>
    <tr><td>Martina</td><td>Spanu</td><td>65011</td><td>9</td><td>10</td><td>8</td><td>6</td><td>4</td><td>37</td><td>28</td></tr>
    <tr><td>Christian</td><td>Sulcis</td><td>65027</td><td>9</td><td>3</td><td>8</td><td>4</td><td>0</td><td>24</td><td>24</td></tr>
    <tr><td>Laura</td><td>Tiana</td><td>65007</td><td>10</td><td>5</td><td>0</td><td>6</td><td>1</td><td>22</td><td>22</td></tr>
    <tr><td>Sofia</td><td>Trudu</td><td>65004</td><td>8</td><td>9</td><td>6</td><td>6</td><td>6</td><td>35</td><td>27</td></tr>
    <tr><td>Fabiola</td><td>Zuddas</td><td>65014</td><td>8</td><td>5</td><td>0</td><td>7</td><td>3</td><td>23</td><td>23</td></tr>
</table>

